<div class="container-fluid">
  <div class="jumbotron text-primary">
    <table style="height: 100%;">
      <tbody>
      <tr>
        <td class="align-bottom">
          <h1>Ben Saleh</h1>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" style="margin:5%;">
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/DTScales.png" alt="DreamTeam"/>
    </div>
    <div class="col-sm-8">
      <h3>
        DreamTeam
      </h3>

    </div>
  </div>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/BackBeat.jpeg" alt="BackBeat"/>
    </div>
    <div class="col-sm-8">
      <h3>
        BackBeat
      </h3>

    </div>
  </div>
</div>
