<div class="container-fluid">
  <div class="jumbotron text-primary">
    <table style="height: 100%;">
      <tbody>
      <tr>
        <td class="align-bottom">
          <h1>Ben Saleh</h1>
          <h2>{{currentTitle}}</h2>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" style="margin:5%;">
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/Yosemite.jpeg" alt="Solar Design"/>
    </div>
    <div class="col-sm-8">
      <h3>
        About me
      </h3>
      Born in Buffalo and raised in Canada and France, I am now returning to the US with an education and a diverse cultural background.
      A recent graduate of the University of Waterloo's Electrical engineering program, I am starting off my professional career in San Francisco where I'm hoping to enjoy the culture as well as the weather.
      <br/>
      <br/>
      When it comes to my time off, I am naturally drawn to music and sports.
      I love to blend these hobbies with my electrical engineering experience through my personal projects.
      So far I have created a tryout tracking app for sports (
      <br/>
      Feel free to explore them below.
    </div>
  </div>
</div>

<div class="container" style="margin:5%;">
  <h1 style="text-align: center;">My Work</h1>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/SolarPanels.jpg" alt="Solar Design"/>
    </div>
    <div class="col-sm-8">
      <h3>
        Solar Design
      </h3>
      While working for <a href="https://www.saturnpower.com/" target="_blank">Saturn Power</a> and <a href="https://www.ugei.com/" target="_blank">UGE international</a>, I worked on designs for solar and energy storage facilities across North America and the Caribbean. Including a 6MW project at the L.F. Wade Airport in Bermuda
    </div>
  </div>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/Embedded.jpg" alt="Solar Design"/>
    </div>
    <div class="col-sm-8">
      <h3>
        Embedded Systems
      </h3>
      I first got involved with embedded systems in 2018 when I worked for <a href="https://www.cachelan.com/" target="_blank">Cachelan</a>.
      Using DNP3 I designed a SCADA system that could control and draw data from inverters, transformers, meters and battery management systems.
    </div>
  </div>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/DataScience.jpg" alt="Solar Design"/>
    </div>
    <div class="col-sm-8">
      <h3>
        Data Science
      </h3>
      My experience in data science started when I was building and studying international transaction networks for <a href="https://www.scotiabank.com/" target="_blank">Scotiabank</a> using graph theory and natural language processing.
      I have since started taking courses in machine learning and furthering my understanding of the field.
    </div>
  </div>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/WebDev.jpg" alt="Solar Design"/>
    </div>
    <div class="col-sm-8">
      <h3>
        Web Development
      </h3>
      Whether I was developing websites for my employers (<a href="https://www.rbc.com/" target="_blank">RBC</a> and <a href="https://www.cachelan.com/" target="_blank">Cachelan</a>) or personal projects such as <a href="www.dreamteamulti.com" target="_blank">DreamTeam</a>, I have always enjoyed the design process.
      Now proficient with React, Angular, Django and AWS, I am excited to continue to build projects moving forward.
    </div>
  </div>

  <h1 style="text-align: center;">My Projects</h1>

  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/DTScales.png" alt="DreamTeam"/>
    </div>
    <div class="col-sm-8">
      <h3>
        DreamTeam
      </h3>
      DreamTeam is a tryout manager that was designed for the University of Waterloo Ultimate Frisbee team to provide the coaches and captains with a way to track athlete’s performance and development in a tryout setting. When a team is hosting tryouts, coaches and captains need to evaluate various athletes and later access that information to build a strong and balanced team and DreamTeam is here to help.
      <br/><br/>
      Check it out at <a href="www.dreamteamulti.com" target="_blank">www.dreamteamulti.com</a>
      <br/>
      <br/>
      Or browse the Github pages for the <a href="https://github.com/b3saleh/dreamteam-FrontEnd" target="_blank">React Frontend</a> and the <a href="https://github.com/b3saleh/dreamteam-python" target="_blank">Python Backend</a>
    </div>
  </div>
  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/BackBeat.jpeg" alt="BackBeat"/>
    </div>
    <div class="col-sm-8">
      <h3>
        BackBeat
      </h3>
      BackBeat is a performance drum machine designed for musicians and buskers.
      <br/>
      Tap sensors are used to help you record your drum beat, a micro-controller will continuously repeat the beat exactly how you played it and finally, a surface actuator will use your the body of your guitar as an amplifier to play your beat as you play your song. Battery powered and compact design allows you to take it anywhere.
      <br/><br/>
      Curious about the design?
      <br/>
      Check out the <a href="https://github.com/b3saleh/BackBeat" target="_blank">Github</a> page.
    </div>
  </div>

  <h1 style="text-align: center;">My Hobbies</h1>

  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/SoundCloud.png" alt="Music"/>
    </div>
    <div class="col-sm-8">
      <h3>
        <a href="/Music">
          Music
        </a>
      </h3>
      I started learning music at a young age and started composing at the age of 14.
      Since then my music has gone through many changes in style and my passion for writing and performing has only grown.
      <br/><br/>
      Take a minute to check out my <a href="https://github.com/b3saleh/BackBeat" target="_blank">SoundCloud</a> and contact me at b3saleh@uwaterloo.ca for collaborations or to find out where I'll be performing next.
    </div>
  </div>

  <div class="row" style="margin:8%;">
    <div class="col-sm-4">
      <img src="/assets/img/BTeam.jpg" alt="Ultimate"/>
    </div>
    <div class="col-sm-8">
      <h3>
       Ultimate Frisbee
      </h3>
      I started playing Ultimate Frisbee in 2015 with the University of Waterloo but found an even stronger passion for the sport when I started coaching in 2017.
      <br/><br/>
      In two years of coaching the Waterloo B team, I helped the squad achieve the highest ranking among all development teams at Canadian University Nationals.
    </div>
  </div>
</div>

<!--<div class="play-container">-->
<!--  <p>You've clicked <button (click)="countClick()">this</button> {{clickCounter}} times.</p>-->
<!--</div>-->

<!--<div class="play-container">-->
<!--  <p>-->
<!--    <input type="text" [(ngModel)]="name"/>-->
<!--    <br/>-->
<!--    You Said: {{name}}-->
<!--  </p>-->
<!--</div>-->

<!--<div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgrey'">-->
<!--  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">-->
<!--    The Click counter is greater than 4.-->
<!--  </ng-template>-->
<!--  <ng-template #none>-->
<!--    The Click counter is not greater than 4.-->
<!--  </ng-template>-->
<!--</div>-->
