<div class="container-fluid">
  <div class="jumbotron text-primary">
    <table style="height: 100%;">
      <tbody>
      <tr>
        <td class="align-bottom">
          <h1>Ben Saleh</h1>
          <h2>{{currentTitle}}</h2>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<div class="play-container">-->
<!--  <p>You've clicked <button (click)="countClick()">this</button> {{clickCounter}} times.</p>-->
<!--</div>-->

<!--<div class="play-container">-->
<!--  <p>-->
<!--    <input type="text" [(ngModel)]="name"/>-->
<!--    <br/>-->
<!--    You Said: {{name}}-->
<!--  </p>-->
<!--</div>-->

<!--<div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgrey'">-->
<!--  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">-->
<!--    The Click counter is greater than 4.-->
<!--  </ng-template>-->
<!--  <ng-template #none>-->
<!--    The Click counter is not greater than 4.-->
<!--  </ng-template>-->
<!--</div>-->
